<div class="modal-login clearfix">
    <form>
        <div ng-show="register">
            <h3>Login</h3>
            <div class="item">
                <input class="default-input" type="text" placeholder="Email" ng-model="email" required focus-me="{{focarLogin}}">
            </div>
            <div class="item">
                <input class="default-input" type="password" placeholder="password" ng-model="password" ng-enter="autentication(email,password);" required>
            </div>
            <div class="item">
                <input class="default-btn-input" type="submit" value="Enter" ng-click="autentication(email,password);">
            </div>
            <div class="item">
                <a ng-click="newregister(false)" style="color: #b5b5b5; cursor: pointer;margin-top: 10px;">new register?</a>
            </div>
        </div>
        <div ng-show="!register">
            <h3>New Register</h3>
            <div class="item">
                <input class="default-input" type="text" placeholder="Email" ng-model="email" required focus-me="{{focarLogin}}">
            </div>
            <div class="item">
                <input class="default-input" type="password" placeholder="password" ng-model="password" ng-enter="registration(email,password);" required>
            </div>
            <div class="item">
                <input class="default-btn-input" type="submit" value="Save" ng-click="registration(email,password);">
            </div>
            <div class="item">
                <a ng-click="newregister(true)" style="color: #b5b5b5; cursor: pointer;margin-top: 10px;">Log in!</a>
            </div>
        </div>
    </form>
</div>